<% concerts = agenda.agenda_concerts.where(discarded: false) %>
<% discarded_concerts = agenda.agenda_concerts.where(discarded: true) %>

<div class='origin-center w-full'>
  <h1>Agenda</h1>

  <% concerts.each do |agenda_concert| %>
    <div id="concert_<%= agenda_concert.id %>" class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer py-2 my-2 bg-yellow-100">
      <input type="hidden" name="agenda_concerts[]" id="input_<%= agenda_concert.id %>" value="<%= agenda_concert.id %>" disabled>                  
      <div class="px-6 py-4 font-bold text-xl mb-2">
          <%= agenda_concert.concert.stage.name %>
          <%= agenda_concert.concert.start_hour %> - <%= agenda_concert.concert.group.name %>
      </div>
    </div>
  <% end %>

  <div id="discarded_concerts" class="grid grid-cols-1">
    <p>Conciertos descartados</p>
    <% discarded_concerts.each do |discarded_concert| %>
      <div id="concert_<%= discarded_concert.id %>" class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer py-2 my-2 bg-red-50">
        <input type="hidden" name="agenda_concerts[]" id="input_<%= discarded_concert.id %>" value="<%= discarded_concert.id %>" disabled>                  
        <div class="px-6 py-4 font-bold text-xl mb-2">
          <%= discarded_concert.concert.stage.name %>
          <%= discarded_concert.concert.start_hour %> - <%= discarded_concert.concert.group.name %>
        </div>
      </div>
    <% end %>
  </div>
</div>
