<% agenda = Agenda.create_or_find_by(festival: ) %>

<div class='origin-center w-full'>
  <div id='festival_name'  class='font-mono text-2xl font-semibold p-6 max-w-sm mx-auto'>
    <%= festival.name %>
  </div>

  <%= form_tag update_agenda_festival_path(festival), method: :post do %>
    <div id='stages' class='columns-<%= festival.stages.count %> columns-md gap-4' >
      <% festival.stages.each do |stage| %>
      <div id='stage' class=''>
        <div id='stage_concerts'>
          <ul>
            <% stage.concerts.each do |concert| %>
              <div id="concert_<%= concert.id %>" data-controller = "concert-selector" data-action = "click->concert-selector#toggleSelection" class="max-w-sm rounded overflow-hidden shadow-lg cursor-pointer">
              <input type="hidden" name="concerts[]" id="concert_input_<%= concert.id %>" value="<%= concert.id %>" disabled>                  
              <img class="w-full" src="https://festival-planner-prod.s3.eu-west-3.amazonaws.com/vi%C3%B1arock.jpg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=ASIATYPJUR7B6UVUUNSO%2F20250330%2Feu-west-3%2Fs3%2Faws4_request&X-Amz-Date=20250330T084251Z&X-Amz-Expires=300&X-Amz-Security-Token=IQoJb3JpZ2luX2VjECEaCWV1LXdlc3QtMyJHMEUCIQDIxAajpK6WIypXFP5jVxqx9sDTpHUeNmCZsUsdhWWwdQIgSHqp9dXhsPWJEyH6RijyoolA6oUhru%2BDpKsEUXGaOysq9QIIiv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FARAAGgwyNTg3MjQ4OTI2MTEiDK62BerK%2FTL4J7%2B%2BYirJAmEXINR8kJy5W%2BSwtvO%2FYNUt0GM059ZP2NnsKNaf01Fdy2jOXIuGMeO4E%2Ff%2FFxUjho%2BCpi5D%2FacDR5%2FkDruSKVId9NshOja9Aq3xqicjlNKco9UT4OMjrOJekNXEB%2BjDhv8voDg6%2BTpGJ7gLiFq01uoBarwUJ8539ZwDaCSwekwvmNCAvotxYuLIJIBUfUiwj%2F72LspfYqbvyCiXV1V1i%2FqoJoyhLRVLRC2Ja1NH2FAn1dTuvr5WtWGS0X9kCvSOV3Smpbb1v6%2F8DAE0DQLH%2BTtFc53kF9O5yyV8WXN86NCvO8UGjjay5dsJ68ZXTl2W16a2NXKZUVLsfocQexGDHyOw6irrLhLJd15QhMj%2BvlQY66ZQ%2BE8JUQyA5iW%2FTYN1HLRg7RkB2vjNRsXmq%2FH2SelxhRTFBiXnJ13JS5dC4U2uxQOhk%2BDlE0YCMIiHpL8GOrMC9jNfVmF%2FXJ%2BQNJ0MTQDfJuY%2F6I%2FLtknzpaL71ceadbrLTYykvu6OfHBVYIxGQb3HQe6Um5BaivcneWzPSmxNt0Xk0GP1N5jttpjW9p5G1WbbFWke%2BY9tshDD4XJ1hutQasYWjrYR1S2%2Bd8hUo04tMwANppCWAZ5svbu2AuUrzXQcuLrI7uifv87dvED%2BnKR4123PO1inCWCltwnc6wingZlxv5wPUAIqhA63lnXNjBZWjC%2Fd7SETDaiZOgmhZmMmbJJ6iDMg3FxxkdFXqW1Tqic2Qbew%2FXqiLrI6%2F2%2F00V7px8tQ8o7hnq9r7YYNVQU7EgKquV2%2BLAvLGM%2BS3ViGstn%2BmQ%2BQ9fjFk4IGZAfsz5TA0cssRls%2FSo9v2j0hldSB33Aahi2MZFRFpDZ9LRXc5rHUkw%3D%3D&X-Amz-Signature=d1806ee873c663d4c7b190eea001306b7fc46142b3af5754f8cca0d9511c6d80&X-Amz-SignedHeaders=host&response-content-disposition=inline" alt="Foto">
                  <div class="px-6 py-4">
                        <div class="font-bold text-xl mb-2"><%= concert.group.name %></div>
                  </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
      <% end %>

      <%= submit_tag 'Generar Agenda', class: 'btn-primary float-left'%>
    </div>
  <% end %>

  <div id='agenda' class=''> 
    <%= render partial: 'agenda', locals: { agenda: } if !agenda.agenda_concerts.empty? %>
  </div>
</div>
